##########################################################
# The following list is not tracked by git
##########################################################
.env
.terraform/
.terraform/
.DS_Store
.DS_Store