##########################################################
# The following list is not tracked by git
##########################################################
.env
.terraform/
.DS_Store
.terraform/*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
